.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
  color: #000;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important; 
}

/* CSS for the overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 99;
  display: none; 
  justify-content: center;
  align-items: center;
}

/* CSS for the loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: 999; 
}

/* CSS for the loading image */
.loading-container img {
  width: 100px;
  animation: glow 2s infinite alternate, zoomInOut 3s infinite;
}

/* Zoom In/Out Animation */
@keyframes zoomInOut {
  0%, 100% {
      transform: scale(1.3);
  }
  50% {
      transform: scale(1.7);
  }
}
