{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1 class="logo-font my-4">Edit Your Profile</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="{% url 'profiles:edit_profile' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    <a href="{% url 'profiles:profile' %}" class="btn btn-primary mt-2">Back to profile</a>
</div>
{% endblock %}
