{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2>Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ item }}
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.flavour }}</strong></p>
                                        <p class="my-0"><strong>{{ item.weight }}g</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}">
                                                            <span><i class="fa-regular fa-circle-down"></i></span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button type="button" class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}">
                                                            <span><i class="fa-regular fa-circle-up"></i></span>
                                                        </button>
                                                    </div>
                                                    <input type="hidden" name="weight" value="{{ item.weight }}">
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item" data-item_id="{{ item.item_id }}" href="{% url 'remove_from_basket' item.item_id %}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>                            
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by joining the subscription gang!
                                        </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'product_list' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <form method="POST" action="{% url 'clear_basket' %}" onsubmit="return confirmClearBasket();">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Clear Basket</button>
                                    </form>
                                    
                                    <script>
                                    function confirmClearBasket() {
                                        return confirm('Are you sure you want to clear your basket?');
                                    }
                                    </script>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'product_list' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block postloadjs %}
<script>
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    $('.remove-item').click(function(e) {
    e.preventDefault();
    var itemId = $(this).data('item_id'); // Ensure this is correctly fetching the item's ID
    var csrfToken = "{{ csrf_token }}"; // When using Django template
    // Or, if you need to fetch the CSRF token from cookies, use the appropriate method

        $.ajax({
            url: `/basket/remove/${itemId}/`, // Using template literals to insert the itemId
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': csrfToken,
                // Include any other data required by your view
            },
            success: function(response) {
                // Handle success (e.g., refreshing part of the page or showing a success message)
            },
            error: function(xhr, errmsg, err) {
                // Handle error
                console.log(`Error: ${errmsg}`);
            }
        });
    });
</script>    
{% endblock %}