{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2>Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            {% if item.product_type == 'edible' %}
                            <p class="my-0">Flavour: {{ item.product.flavour }}</p>
                            <p class="my-0">Weight: {{ item.weight }}g</p>
                            {% elif item.product_type == 'merch' %}
                            <p class="my-0">Text: {{ item.text_option.text }}</p>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            {% if item.product_type != 'subscription' %}
                            <form class="form update-form" method="POST" action="{% url 'basket:adjust_basket' item_id=item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="button" class="decrement-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}">
                                                <span><i class="fa-regular fa-circle-down"></i></span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button type="button" class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}">
                                                <span><i class="fa-regular fa-circle-up"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            {% endif %}
                            <form method="POST" action="{% url 'basket:remove_from_basket' item.item_id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link p-0 text-danger">Remove</button>
                            </form>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.subtotal }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if not is_subscribed %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by joining the subscription gang!
                            </p>
                            {% endif %}
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'index' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <form method="POST" action="{% url 'basket:clear_basket' %}" onsubmit="return confirmClearBasket();">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Clear Basket</span>
                                </button>
                            </form>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Proceed to Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your basket is empty.</p>
            <a href="{% url 'product_list' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}