<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Edible Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="edible-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edible Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="edible-products-link">
                <a href="{% url 'product_list' %}?tag=plant_based" class="dropdown-item">Plant Based</a>
                <a href="{% url 'product_list' %}?tag=traditional" class="dropdown-item">Traditional</a>
                <a href="{% url 'product_list' %}?tag=guest_flavour" class="dropdown-item">This Month's Guest Flavour</a>                
            </div>
        </li>

        <!-- Merch Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merch
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="merch-link">
                <a href="{% url '#' %}?category=mugs" class="dropdown-item">Mugs</a>
                <a href="{% url '#' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url '#' %}?category=coasters" class="dropdown-item">Coasters</a>
            </div>
        </li>

        <!-- Story Link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'story' %}">Story</a>
        </li>

        <!-- Account Dropdown (Assuming use of Django Allauth for example) -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="account-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="account-link">
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            </div>
        </li>

        <!-- Subscription Link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'subscription' %}">Subscription</a>
        </li>
    </ul>
</div>
