{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Products{% endblock %}

{% block content %}
<div class="container mt-5 pt-7">
    <h2 class="logo-font text-center my-4">Our Products</h2>
    <!-- Product List -->
    <div class="allergen-filters">
        <form method="GET" action="">
            {{ allergen_form.as_p }}
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
    </form>
    <div class="row">
        {% for product in edible_products %}
        <a href="{% url 'product_detail' product.id %}" style="text-decoration: none; color: inherit;"
            class="col-sm-6 col-md-4 col-lg-3 mb-4" onmouseover="this.style.cursor='pointer'">
            <div class="card h-100">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.flavour }}">
                {% else %}
                <img src="{% static 'images/noimage.png' %}" class="card-img-top" alt="No image available">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.flavour }}</h5>
                    <p class="card-text">{{ product.details }}</p>
                    <p class="card-text"><small>Plant-Based: {{ product.plant_based|yesno:"Yes,No" }}</small></p>
                    <div class="allergen-symbols">
                        <h5>Allergens:</h5>
                        {% for allergen in product.get_allergens_info %}
                        <div class="d-inline-block text-center mx-2">
                            <div class="allergen-circle">
                                <img src="{% static allergen.symbol_path %}" alt="{{ allergen.name }}" class="img-fluid"
                                    style="width: 30px; height: 30px;">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price: £{{ product.price }} for {{ product.weight }}g</small>
                </div>
            </div>
        </a>
        {% empty %}
        <div class="col">
            <p>No products found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}