{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-7">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="image-container my-5">
                {% if edible_product.image %}
                    <a href="{{ edible_product.image.url }}" target="_blank">
                        <img class="img-fluid" src="{{ edible_product.image.url }}" alt="{{ edible_product.flavour }}">
                    </a>
                {% else %}
                    <img class="img-fluid" src="{% static 'images/noimage.png' %}" alt="No image available">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="product-details-container mb-5 mt-md-5">
                <h2>{{ edible_product.flavour }}</h2>
                <p class="lead font-weight-bold">£{{ edible_product.price }}</p>
                {% if edible_product.plant_based %}
                <p>Plant-Based: Yes</p>
                {% else %}
                <p>Plant-Based: No</p>
                {% endif %}
                <p class="mt-3">{{ edible_product.details }}</p>
                <p>Ingredients: {{ edible_product.ingredients }}</p>
                <div class="allergens mt-4">
                    <h5>Allergens:</h5>
                    {% for allergen in edible_product.get_allergens_info %}
                    <div class="d-inline-block text-center mx-2">
                        <img src="{% static allergen.symbol_path %}" alt="{{ allergen.name }}" class="img-fluid" style="width: 50px; height: 50px;">
                        <p>{{ allergen.name }}</p>
                    </div>
                    {% endfor %}
                </div>
                
                <form class="form" action="{% url 'add_to_basket' edible_product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group">
                            <label for="weight">Weight:</label>
                            <select name="weight" id="weight" class="form-control" onchange="updatePrice()">
                                <option value="100">100g</option>
                                <option value="400" selected>400g</option>
                                <option value="800">800g</option>
                            </select>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" class="form-control" value="1" min="1">
                    </div>
                    <button type="submit" class="btn btn-primary">Add to Your Basket</button>
                </form>

                <!-- Back to products link -->
                <a href="{% url 'product_list' %}" class="btn btn-outline-secondary mt-3">Back to Products</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    function updatePrice() {
    var weight = document.getElementById('weight').value;
    fetch(`/get-price/${weight}/`)
        .then(response => response.json())
        .then(data => {
            if (!data.error) {
                document.querySelector('.lead.font-weight-bold').innerText = `£${data.price}`;
            } else {
                console.error('Error:', data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
