{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Edible Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Flavour</th>
                <th>Details</th>
                <th>Allergens</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><img src="{{ product.image.url }}" alt="{{ product.flavour }}" style="width:100px; height:auto;"></td>
                <td>{{ product.flavour }}</td>
                <td>{{ product.details }}</td>
                <td>
                    {% for allergen in product.get_allergens_info %}
                    <img src="{% static allergen.symbol_path %}" alt="{{ allergen.name }}" title="{{ allergen.name }}" style="width: 30px; height: 30px; margin-right: 5px;">
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'dashboard:edible_product_edit' product.id %}" class="btn btn-primary">Edit</a>
                    <form method="post" action="{% url 'dashboard:edible_product_delete' product.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product? This action cannot be undone.');">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'dashboard:home' %}" class="btn btn-secondary">Return to Dashboard</a>
    <a href="{% url 'dashboard:edible_product_create' %}" class="btn btn-primary">Add new product</a>
</div>
{% endblock %}
