{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Inquiries</h2>
    <a href="{% url 'dashboard:home' %}" class="btn btn-secondary">Return to Dashboard</a>
    <ul class="list-group">
        {% for inquiry in inquiries %}
            <li class="list-group-item {% if inquiry.is_new %}list-group-item-warning{% endif %}">
                <a href="{% url 'dashboard:inquiries_detail' inquiry.pk %}">
                    {{ inquiry.email }} - {{ inquiry.created_at }}
                </a>
                {% if inquiry.is_dealt_with %}
                    <span class="badge badge-success">Dealt With</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}