{% extends "base.html" %}
{% load static %}

{% block header %}Add Merch Product{% endblock %}
{% block content %}
<div class="container">
    <h2>{% if object %}Edit{% else %}Add{% endif %} Product</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Colour Variations</h3>
        {{ colour_formset.management_form }}
        {% for form in colour_formset %}
        {{ form.as_p }}
        {% endfor %}
        <h3>Text Options</h3>
        {{ text_option_formset.management_form }}
        {% for form in text_option_formset %}
        {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'dashboard:merch_product_list' %}" class="btn btn-secondary">Return to list with no changes</a>
    </form>
</div>
{% endblock %}