{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Newsletter Recipients</h1>
    <a href="{% url 'dashboard:home' %}" class="btn btn-secondary">Return to Dashboard</a>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in newsletter_recipients %}
            <tr>
                <td>{{ profile.user.username }}</td>
                <td>{{ profile.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
