{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Subscription Management</h2>
    <div class="btn-group mt-3 mb-3" role="group" aria-label="Subscription Management Links">
        <a href="{% url 'dashboard:subscription_product_list' %}" class="btn btn-primary">Subscription Products</a>
        <a href="{% url 'dashboard:subscribed_users_list' %}" class="btn btn-primary">Subscribed Users</a>
        <a href="{% url 'dashboard:home' %}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
</div>
{% endblock %}
